<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
    <ion-title>Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Description</ion-label>
        <ion-input [(ngModel)]="description" placeholder="Type description for a task"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Due</ion-label>
          <ion-datetime displayFormat="DD.MM.YYYY" [(ngModel)]="due"></ion-datetime>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
